.submit-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 30px;
    border-radius: 5px;
    min-width: 300px;
    
}

.cat-infos {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.category-container {
    display: flex;
    gap: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    min-width: 60vw;
}

.form-group {
    background-color: red;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;

}