@inherits LayoutComponentBase


    <Layout Sider>
        <LayoutSider>
            <LayoutSiderContent>
               <NavMenu/>
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
             <LayoutHeader Fixed>
                        Header
                    </LayoutHeader>
            <LayoutContent Class="content px-4">
                @Body
            </LayoutContent>
        </Layout>
    </Layout>




<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>